.awesome-box {
   margin-bottom: 68px;
}
.square-line {
   border: 1px solid #e72424;
   width: 64px;
   display: flexbox;
   margin: 0 auto 34px;
}
.arbittrary-text {
   font-family: "open sans";
   font-size: 14px;
   font-weight: 400;
   color: #86878b;
   text-align: center;
}
