.brif-box {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}
.brif-card {
   font-family: "Open Sans";
   font-weight: 400;
}
.brif-discribt {
   text-align: center;
   width: 250px;
   padding: 22px;
}
.dissribt-only {
   font-family: "Open Sans";
   font-weight: 400;
   background: #e2e2e2;
}
.brif-person {
   display: flex;
   justify-content: space-around;
}
.brif-foto {
   width: 70px;
   height: 70px;
   border-radius: 50%;
}
.brif-own {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
}
.brif-own-name {
   font-family: "Open Sans";
   font-size: 20px;
   font-weight: 700;
}
.brif-own-post {
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 14px;
}
