.axure-box-hed h2 {
   color: rgb(255, 255, 255);
}
.square-lines {
   border: 1px solid #ffffff;
   width: 64px;
   display: flexbox;
   margin: 0 auto 34px;
}
.arbittrar-text {
   font-family: "open sans";
   font-size: 14px;
   font-weight: 400;
   color: #ffffff;
   text-align: center;
}
.axere-fon {
   margin: auto;
   max-width: 1170px;
   height: 325px;
   border: 1px;
   display: flex;
   justify-content: center;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
}
.axure-botton {
   display: flex;
   justify-content: center;
}
.boton-empty {
   display: inline-block;
   width: 135px;
   height: 42px;
   border: 1px solid #ffffff;
   position: absolute;
   display: flex;
   font-family: "open sans";
   font-weight: 600;
   font-size: 15px;
   color: #ffffff;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
}
